{{outlet}}

<h1>Componentes</h1>

<label for="">Input Money</label>
{{bitz-input-money value=model.dinheiro}}
{{input value=model.dinheiro class="form-control"}}
<div>Data: <strong>{{model.dinheiro}}</strong></div>

<hr>

<label>Datepicker</label>
{{bitz-input-date value=model.dataChegada}}
<div>Data: <strong>{{model.dataChegada}}</strong></div>

<hr>

<label>Datepicker</label>
{{bitz-input-date value=model.dataChegada}}
<div>Data: <strong>{{model.dataChegada}}</strong></div>

<hr>

<label>Datepicker Range</label>
{{bitz-input-date-range start=model.dataInicial end=model.dataFinal}}
<div>Data: <strong>{{model.dataInicial}}</strong> to <strong>{{model.dataFinal}}</strong></div>

<hr>

<label>Input Quantity</label>
{{bitz-input-amount value=model.quantidade}}
<div>Quantidade: <strong>{{model.quantidade}}</strong></div>